*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body, html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
    position: relative;
}

header{
    height: 10vh;
    width: 100vw;

    background: #050505da;

    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: space-evenly;

    

    position: fixed;
    z-index: 1;

    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    li{
        list-style: none;
        margin: 0 35px;

        a{
            color: #FFF;
            text-decoration: none;
            font-size: .9rem;
            padding: 26px 0px;
            position: relative;

            &::before{
                content: '';
                display: block;
                width: 0%;
                height: 4px;

                background: #01C0A9;

                position: absolute;
                bottom: 0;
                left: 0;

                transition: width .2s ease;
            }

            &:hover::before{
                width: 96%;
                
            }
        }
    }

    .logo{
        color: #FFF;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 600;
        transition: .2s ease;

        &:hover{
            opacity: .8;
        }
    }


    .menu-mobile{
        display: none;
    }

    .menu-mobile-items{
        display: none;
    }
}

.apresentacao{
    height: 100vh;

    background: #050505;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    position: relative;

    &::after{
        content: '';
        display: block;
        width: 230px;
        height: 230px;
        border-radius: 50%;

        background: #01C0A9;
        filter: blur(100px);
        opacity: .2;

        position: absolute;

        left: 130px;
        bottom: 130px;
    }

    &::before{
        content: '';
        display: block;
        width: 230px;
        height: 230px;
        border-radius: 50%;

        background: #01C0A9;
        filter: blur(100px);
        opacity: .2;

        position: absolute;

        right: 130px;
        top: 130px;
    }

    .apre-box1{
        color: #FFF;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            font-size: 3rem;
            font-family: 400;
            width: 70%;
            margin-bottom: 1rem;

            @media screen and (max-width: 599px){
                width: 80vw;
            }
        }

        p{
            color: #4F4F4F;
            font-size: 1.1rem;

            @media screen and (max-width: 599px){
                width: 80vw;
                font-size: 1rem;
            }
        }
    }

    .apre-box2{


        display: flex;
        flex-direction: row;
        gap: 1rem;

        img{
            width: 35px;
            transition: .2s ease-in-out;

            &:hover{
                transform: scale(1.1)
            }
        }

        .email-copy{
            background: #292929;
            border-radius: 50px;

            width: 350px;
            height: 35px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            padding: 0 10px;

            position: relative;

            &::before{
                position: absolute;
                content: '';
                display: block;
                background: #292929;
                height: 35px;
                width: 40px;
                border-radius: 0 50px 50px 0;
                right: 0;
                z-index: 1;
            }

            @media screen and (max-width: 599px){
                width: 60vw;
            }


            a{
                color: #FFF;
                text-decoration: none;
                font-weight: 500;

                @media screen and (max-width: 599px){
                    overflow: hidden;
                }
            }

            img{
                z-index: 2;
                width: 20px;
                &:hover{
                    cursor: pointer;
                }
            }
            
        }
    }
}


.sobreMim{
    padding: 5rem 0 5rem 0;

    background: #000;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1024px){
        flex-direction: column;
    }

    figure{
        img{
            width: 200px;
            height: 200px;
            margin-right: 3rem;

            object-fit: cover;

            border-radius: 50%;

            @media screen and (max-width: 1024px){
                margin-right: 0;
                margin-bottom: 2rem;
            }

        }
    }

    p{
        color: #FFF;
        width: 600px;
        text-align: justify;
        margin-bottom: 1rem;
        line-height: 25px;

        @media screen and (max-width: 1024px){
            width: 80vw;
        }
    }

    .box-socialMedias{

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        
        img{
            width: 50px;
            transition: .2s ease-in-out;    

            &:hover{
                cursor: pointer;
                transform: scale(1.1)
            }
        }
    }
}


.tecnologias{
    padding: 10rem 0 10rem 0;

    background: #050505;

    display: flex;
    align-items: center;
    justify-content: center;
    
    .container_tecnologias{

        border: 0;

        width: 900px;
        height: 100%;


        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        @media screen and (max-width: 1024px){
            width: 90vw;
        }
        
    }

    div{
        border: 1.5px solid #292929;
        border-radius: 7px;
        
        width: 280px;
        height: 120px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;

        img{
            width: 70px;
            margin-right: 1rem;
        }

        h3{
            color: #292929;
            font-size: 1rem;
            width: 120px;
        }

    }


}


.projetos{
    padding: 10rem 0 10rem 0;

    background: #000;

    display: flex;
    align-items: center;
    justify-content: center;

    .container_projetos{
        width: 900px;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        @media screen and (max-width: 1024px){
            width: 90vw;
        }

        .box-projeto{

            overflow: hidden;
            position: relative;

            height: 300px;

            border-radius: 7px;

            
            figure{
                width: 400px;
                height: 250px;

                @media screen and (max-width: 599px){
                    width: 70vw;
                }


                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 7px 7px 0 0;
                    transition: .2s ease-in-out;
                    object-fit: cover;

                    &:hover{
                        opacity: .8;
                        
                    }
                }
            }

            .content-projeto{
                height: 200px;
                width: 400px;
                border-radius: 0 0 7px 7px;

                background: #292929;

                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;

                padding: 23px 0;

                position: absolute;
                bottom: -140px;
                transition: .2s ease-in-out;

                &:hover{
                    bottom: 0px;
                }


                @media screen and (max-width: 599px){
                    width: 70vw;
                }

                .buttons-projeto{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                }

                a{
                    background: #01C0A9;
                    width: 170px;
                    height: 40px;
                    border-radius: 7px;
                    margin: 5px;

                    text-decoration: none;
                    color:#292929;
                    font-weight: 600;

                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    justify-content: space-evenly;

                    padding: 0 5px;

                    img{
                        width: 20px;
                    }
                }   

                h3{
                    color: #fff;
                }

            }
        }
    }

}


footer{
    height: 60vh;

    background: #050505;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    position: relative;

    p{
        color: #292929;
    }

    .content-contato{
        text-align: center;
        
        h2{
            font-size: 36px;
            color: #FFF;
        }

        p{
            font-size: 20px;
            font-weight: 600;
            color: #01C0A9;
        }
    }

    .social-medias-contato{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        .social-medias-wrapper{
            display: flex;
            flex-direction: row;
            align-items: center;
            
            a{
                margin: 0 10px;
            }
        }

        @media screen and (max-width: 599px){
            flex-direction: column;
        }

        .email-copy{
            background: #292929;
            border-radius: 50px;

            width: 350px;
            height: 35px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            position: relative;

            padding: 0 10px;

            &::before{
                position: absolute;
                content: '';
                display: block;
                background: #292929;
                height: 35px;
                width: 40px;
                border-radius: 0 50px 50px 0;
                right: 0;
                z-index: 1;
            }

            @media screen and (max-width: 599px){
                width: 70vw;
            }


            a{
                color: #FFF;
                text-decoration: none;
                font-weight: 500;

                @media screen and (max-width: 599px){
                    overflow: hidden;
                }
            }

            img{
                z-index: 2;
                width: 20px;
                &:hover{
                    cursor: pointer;
                }
            } 
            
            
        }
    }

    .sub-footer{
        width: 90vw;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    img{
        width: 35px;
        transition: .2s ease-in-out;

        &:hover{
            transform: scale(1.1)
        }
    }

}

// Responsivo-menu

@media screen and (max-width: 1024px) {
    header{

        justify-content: space-between;
        padding: 0 4rem;

        nav{
            display: none;
        }

        .menu-mobile{
            display: block;

            button{
                border: 0;
                background: 0;

                &:hover{
                    cursor: pointer;
                }
            }

            img{
                width: 30px;
            }

            ul{
                display: flex;
                flex-direction: column;
            }
        }

        .menu-mobile-items{

            background: #050505da;
            display: none;
            position: absolute;
            top: 70px;
            width: 100%;
            height: 30vh;
            left: 0;

            ul{

                width: 100%;
                height: 30vh;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                a{
                    padding: 10px;
                }

                
            }


        }

        .open{
            display: block;
        }
    }


}

