* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body, html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
  position: relative;
}

header {
  height: 10vh;
  width: 100vw;
  background: rgba(5, 5, 5, 0.8549019608);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  z-index: 1;
}
header ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
header li {
  list-style: none;
  margin: 0 35px;
}
header li a {
  color: #FFF;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 26px 0px;
  position: relative;
}
header li a::before {
  content: "";
  display: block;
  width: 0%;
  height: 4px;
  background: #01C0A9;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.2s ease;
}
header li a:hover::before {
  width: 96%;
}
header .logo {
  color: #FFF;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.2s ease;
}
header .logo:hover {
  opacity: 0.8;
}
header .menu-mobile {
  display: none;
}
header .menu-mobile-items {
  display: none;
}

.apresentacao {
  height: 100vh;
  background: #050505;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  position: relative;
}
.apresentacao::after {
  content: "";
  display: block;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background: #01C0A9;
  filter: blur(100px);
  opacity: 0.2;
  position: absolute;
  left: 130px;
  bottom: 130px;
}
.apresentacao::before {
  content: "";
  display: block;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background: #01C0A9;
  filter: blur(100px);
  opacity: 0.2;
  position: absolute;
  right: 130px;
  top: 130px;
}
.apresentacao .apre-box1 {
  color: #FFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.apresentacao .apre-box1 h1 {
  font-size: 3rem;
  font-family: 400;
  width: 70%;
  margin-bottom: 1rem;
}
@media screen and (max-width: 599px) {
  .apresentacao .apre-box1 h1 {
    width: 80vw;
  }
}
.apresentacao .apre-box1 p {
  color: #4F4F4F;
  font-size: 1.1rem;
}
@media screen and (max-width: 599px) {
  .apresentacao .apre-box1 p {
    width: 80vw;
    font-size: 1rem;
  }
}
.apresentacao .apre-box2 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.apresentacao .apre-box2 img {
  width: 35px;
  transition: 0.2s ease-in-out;
}
.apresentacao .apre-box2 img:hover {
  transform: scale(1.1);
}
.apresentacao .apre-box2 .email-copy {
  background: #292929;
  border-radius: 50px;
  width: 350px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 10px;
  position: relative;
}
.apresentacao .apre-box2 .email-copy::before {
  position: absolute;
  content: "";
  display: block;
  background: #292929;
  height: 35px;
  width: 40px;
  border-radius: 0 50px 50px 0;
  right: 0;
  z-index: 1;
}
@media screen and (max-width: 599px) {
  .apresentacao .apre-box2 .email-copy {
    width: 60vw;
  }
}
.apresentacao .apre-box2 .email-copy a {
  color: #FFF;
  text-decoration: none;
  font-weight: 500;
}
@media screen and (max-width: 599px) {
  .apresentacao .apre-box2 .email-copy a {
    overflow: hidden;
  }
}
.apresentacao .apre-box2 .email-copy img {
  z-index: 2;
  width: 20px;
}
.apresentacao .apre-box2 .email-copy img:hover {
  cursor: pointer;
}

.sobreMim {
  padding: 5rem 0 5rem 0;
  background: #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .sobreMim {
    flex-direction: column;
  }
}
.sobreMim figure img {
  width: 200px;
  height: 200px;
  margin-right: 3rem;
  object-fit: cover;
  border-radius: 50%;
}
@media screen and (max-width: 1024px) {
  .sobreMim figure img {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
.sobreMim p {
  color: #FFF;
  width: 600px;
  text-align: justify;
  margin-bottom: 1rem;
  line-height: 25px;
}
@media screen and (max-width: 1024px) {
  .sobreMim p {
    width: 80vw;
  }
}
.sobreMim .box-socialMedias {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.sobreMim .box-socialMedias img {
  width: 50px;
  transition: 0.2s ease-in-out;
}
.sobreMim .box-socialMedias img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.tecnologias {
  padding: 10rem 0 10rem 0;
  background: #050505;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tecnologias .container_tecnologias {
  border: 0;
  width: 900px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media screen and (max-width: 1024px) {
  .tecnologias .container_tecnologias {
    width: 90vw;
  }
}
.tecnologias div {
  border: 1.5px solid #292929;
  border-radius: 7px;
  width: 280px;
  height: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.tecnologias div img {
  width: 70px;
  margin-right: 1rem;
}
.tecnologias div h3 {
  color: #292929;
  font-size: 1rem;
  width: 120px;
}

.projetos {
  padding: 10rem 0 10rem 0;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projetos .container_projetos {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
@media screen and (max-width: 1024px) {
  .projetos .container_projetos {
    width: 90vw;
  }
}
.projetos .container_projetos .box-projeto {
  overflow: hidden;
  position: relative;
  height: 300px;
  border-radius: 7px;
}
.projetos .container_projetos .box-projeto figure {
  width: 400px;
  height: 250px;
}
@media screen and (max-width: 599px) {
  .projetos .container_projetos .box-projeto figure {
    width: 70vw;
  }
}
.projetos .container_projetos .box-projeto figure img {
  width: 100%;
  height: 100%;
  border-radius: 7px 7px 0 0;
  transition: 0.2s ease-in-out;
  object-fit: cover;
}
.projetos .container_projetos .box-projeto figure img:hover {
  opacity: 0.8;
}
.projetos .container_projetos .box-projeto .content-projeto {
  height: 150px;
  width: 400px;
  border-radius: 0 0 7px 7px;
  background: #292929;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 23px 0;
  position: absolute;
  bottom: -80px;
  transition: 0.2s ease-in-out;
}
.projetos .container_projetos .box-projeto .content-projeto:hover {
  bottom: 0px;
}
@media screen and (max-width: 599px) {
  .projetos .container_projetos .box-projeto .content-projeto {
    width: 70vw;
  }
}
.projetos .container_projetos .box-projeto .content-projeto .buttons-projeto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.projetos .container_projetos .box-projeto .content-projeto a {
  background: #01C0A9;
  width: 170px;
  height: 40px;
  border-radius: 7px;
  margin: 0 5px;
  text-decoration: none;
  color: #292929;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 5px;
}
.projetos .container_projetos .box-projeto .content-projeto a img {
  width: 20px;
}
.projetos .container_projetos .box-projeto .content-projeto h3 {
  color: #fff;
}

footer {
  height: 60vh;
  background: #050505;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
footer p {
  color: #292929;
}
footer .content-contato {
  text-align: center;
}
footer .content-contato h2 {
  font-size: 36px;
  color: #FFF;
}
footer .content-contato p {
  font-size: 20px;
  font-weight: 600;
  color: #01C0A9;
}
footer .social-medias-contato {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
footer .social-medias-contato .social-medias-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .social-medias-contato .social-medias-wrapper a {
  margin: 0 10px;
}
@media screen and (max-width: 599px) {
  footer .social-medias-contato {
    flex-direction: column;
  }
}
footer .social-medias-contato .email-copy {
  background: #292929;
  border-radius: 50px;
  width: 350px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 0 10px;
}
footer .social-medias-contato .email-copy::before {
  position: absolute;
  content: "";
  display: block;
  background: #292929;
  height: 35px;
  width: 40px;
  border-radius: 0 50px 50px 0;
  right: 0;
  z-index: 1;
}
@media screen and (max-width: 599px) {
  footer .social-medias-contato .email-copy {
    width: 70vw;
  }
}
footer .social-medias-contato .email-copy a {
  color: #FFF;
  text-decoration: none;
  font-weight: 500;
}
@media screen and (max-width: 599px) {
  footer .social-medias-contato .email-copy a {
    overflow: hidden;
  }
}
footer .social-medias-contato .email-copy img {
  z-index: 2;
  width: 20px;
}
footer .social-medias-contato .email-copy img:hover {
  cursor: pointer;
}
footer .sub-footer {
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer img {
  width: 35px;
  transition: 0.2s ease-in-out;
}
footer img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  header {
    justify-content: space-between;
    padding: 0 4rem;
  }
  header nav {
    display: none;
  }
  header .menu-mobile {
    display: block;
  }
  header .menu-mobile button {
    border: 0;
    background: 0;
  }
  header .menu-mobile button:hover {
    cursor: pointer;
  }
  header .menu-mobile img {
    width: 30px;
  }
  header .menu-mobile ul {
    display: flex;
    flex-direction: column;
  }
  header .menu-mobile-items {
    background: rgba(5, 5, 5, 0.8549019608);
    display: none;
    position: absolute;
    top: 70px;
    width: 100%;
    height: 30vh;
    left: 0;
  }
  header .menu-mobile-items ul {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  header .menu-mobile-items ul a {
    padding: 10px;
  }
  header .open {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */